# Environment variables
.env
.env.local
.env.development
.env.production

# Node modules
node_modules/

# Build files
dist/
build/


npm-debug.log*
# root level
.env
node_modules/

# backend specific
Backend/.env
Backend/node_modules/

# frontend (if any)
frontend/.env
frontend/node_modules/
 
 dashboard/.env
 dashboard/node_modules/